.directory

chapters/development.log
chapters/introduction.log

thesis.aux
thesis.bbl
thesis.bcf
thesis.blg
thesis.dvi
thesis.log
thesis.out
thesis.run.xml
thesis.synctex.gz
thesis.tdo
thesis.toc
thesis.lof
thesis.lol
thesis.lot
